 <h2>My tasks</h2>

<ul>
  <% @tasks.each do |t|%>
  <li>
    <%= check_box_tag( "checkbox", t.completed, t.completed, {disabled: true})%>
    <%= link_to(t.title, task_path(t))%>
    <%= link_to 'X', task_path(t), method: :delete, data: { confirm: "Are you sure?" }%>
  </li>
  <% end %>
</ul>

<%= link_to "+ add a Task", new_task_path %>
